
@{
    ViewBag.Title = "cip";
}


<div class="container">
	<img src="~/images/cip.jpg" class="mt-5" style="width: 700px; "> <p class="pt-5 " style="font-family: Helvetica; width: 800px;">
		<i style="color:red;font-family: Helvetica; ">
			Türkiye'nin ilk çip fabrikasının temeli atıldı!
		</i></br><br><br>
		Milli Savunma Bakanı Yılmaz: "Kurulacak fabrikayla Türkiye'nin elini kolunu bağlayan iplerden birini daha kesiyoruz. Türkiye düne göre bir adım daha özgür, bir adım daha güçlü, bir adım daha kendine güvene sahip olacak. Bu fabrika hayata geçtikten sonra artık dışarı göndereceğimiz 100 milyon doların üzerindeki bir değer, Türkiye'de kalacak. Paradan da daha önemli, çünkü bazen para verseniz de alamıyorsunuz"
		<br><br>

		ASELSAN Yönetim Kurulu Başkanı Canpolat: "Burada mütevazı bir tören yapıyoruz ama çip tarihi için önemli bir an yaşanıyor"

		<br><br>
		Milli Savunma Bakanı İsmet Yılmaz, bilkent yerleşkesinde  kurulacak çip fabrikasıyla Türkiye'nin elini kolunu bağlayan iplerden birinin  daha kesildiğini belirterek, "Türkiye düne göre bir adım daha özgür, bir adım  daha güçlü, bir adım daha kendine güvene sahip olacak" dedi.
		<br><br>
		Aselsan ve Bilkent Üniversitesi'nin ortaklığında kurulan savunma,  uzay, haberleşme ve enerji sektörleri için teknolojilerin geliştirileceği  Türkiye'nin ilk çip fabrikası "AB-MikroNano" şirketinin temeli Bilkent  yerleşkesinde yer alan Bilkent Cyberpark Teknokent bölgesinde düzenlenen törenle  atıldı.

		Törene, Milli Savunma Bakanı İsmet Yılmaz, Savunma Sanayii Müsteşarı  İsmail Demir, ASELSAN Yönetim Kurulu Başkanı Hasan Canpolat, TÜBİTAK Başkanı  Prof. Dr. Yücel Altunbaşak, Bilkent Üniversitesi Rektörü Prof. Dr. Abdullah  Atalar ve davetliler katıldı.

		<br><br>

		Bakan Yılmaz, törende yaptığı konuşmada, temel atma töreninde  bulunmaktan memnun olduğunu belirterek, "Çünkü Türkiye'nin elini kolunu bağlayan  iplerden birini daha kesiyoruz. Türkiye düne göre bir adım daha özgür, bir adım  daha güçlü, bir adım daha kendine güvene sahip olacak" ifadesini kullandı.



		"Galyum nitrat temelli çip teknolojisini paranız olsa da alamazsınız,  değerinin ne kadar olduğu önemli değil" diyen Yılmaz, Türkiye'nin ihracatının  2002'de 36 milyar dolardan 150 milyar dolara çıkarak üç kattan fazla arttığını  vurguladı.
		<br><br>


		Ancak 2023'de 500 milyar dolarlık ihracat hedeflerinin bulunduğuna  işaret eden Yılmaz, "Bunu başarabilir miyiz? Başarırız ama nasıl. Yüksek katma  değerli ürünleri mutlaka üretmemiz lazım" diye konuştu.

		<br><br>
		<i style="color:red;font-family: Helvetica; ">
			1 kilogram patates yerine 1 kilogram çip
		</i>
		<br><br>


		Bakan Yılmaz, 10 milyon ton patates üretileceğine 1 kilogram çipin  ihraç edilmesinde çok daha karlı duruma geçildiğini vurguladı.

		<br><br>

		Türkiye'nin mutlaka yüksek katma değerli ürünleri üretip ihraç etmesi  gerektiğine işaret eden Yılmaz, Türkiye'nin ihracatının 150 milyar doların  üzerinde olduğunu ancak ortalama ihracat değerinin 1,5 dolarda kaldığını söyledi.
		<br><br>
		<i style="color:red;font-family: Helvetica; ">ATAK helikopteri</i>nin ihraç edilmesi halinde kilogramının 5 bin  dolardan, Göktürk-2 gibi bir uydunun ihraç edilmesi halinde ise kilogramının 200  bin dolardan satılacağına dikkate çeken Yılmaz, "Ancak şimdi bu fabrikada  üretilecek ürünlerle galyum nitrat temelli çiplerin kilogramı 10 milyon dolar  olacak. Kaç kat artmış olur? Uydudan 50 kat fazla. Türkiye eğer böyle yüksek  katma değerli ürünleri yaparsa hiç şüpheniz olmasın 2023 hedeflerini de  yakalarız" dedi.

		<br><br>

		Dünya ekonomisi içerisinde en büyük 10 ekonominin ihracat rakamlarının  en küçüğünün 500 milyar olduğunu anlatan Yılmaz, Türkiye'nin de bu rakama  ulaştığında 2023'te dünyanın ilk 10 ekonomisi içinde olacağını söyledi.



		Yılmaz, şöyle konuştu:

		"Ar-Ge'nin ürüne dönüşmesi, ticarileşmesi çok önemli. Demek ki  ürettiğinizin bir taliplisi varsa o zaman bir değeri var. Bu fabrika hayata  geçtikten sonra artık dışarı göndereceğimiz 100 milyon doların üzerindeki bir  değer, Türkiye'de kalacak. Paradan da daha önemli, çünkü bazen para verseniz de  alamıyorsunuz. 'Bu ürünü nerede kullanacaksınız' diye soruyorlar. 'Radarda,  savunma sanayiinde' deniyor. 'Kusura bakmayın askeri amaçlı kullanılıyor, biz  size veremeyiz' diyorlar. Böyle olursanız bağımsız, güçlü ülke olabilir misiniz?  İnşallah bu yapacağımız ürünlerle Türkiye'yi her alanda kendi kendine yeterli  hale getirmeye çalışıyoruz. Çünkü gerek savunma alanında, gerekse de diğer  alanlarda.



		Ama öncelikle savunma sanayi alanında kendinize yeterli olamazsanız, o  zaman bağımsız da olamazsınız. Tam bağımsızlığın olmazsa olmaz şartı savunma  sanayiinde kendinize yeterli olabilmenizdir."
		<br><br>
		Galyum nitrat kökenli çiplerin, sadece savunma sanayiinde de  kullanılmayacağını, sivil alanlarda da kullanılacağını belirten Yılmaz, enerjinin  taşınması sırasında, mesafeler uzadıkça artan enerji kaybının bu çipler sayesinde  azaltılacağını, bu sayede üretilen enerjinin korunmuş olacağını dile getirdi.

		<br><br>

		Bakan Yılmaz, şu anda GSMH'nın yaklaşık yüzde 1'inin Ar-Ge'ye  harcandığını, bunu kat kat arttırmanın hedefleri olduğuna değinerek, "Genelde  Ar-Ge'ye ve savunma sanayisine ayrılan pay, yaklaşık 1 milyar dolar. Savunma  sanayisine ayrılan pay, kalemler içinde en önemlisi. Çünkü güvenliğe ne bedel  öderseniz hakkıdır, yerindedir. Özgürlüğün de bedeli olmaz. Güvenlik var, o halde  özgürlük var" ifadesini kullandı.
		<br><br>


		Çok şey yaptıklarını ancak bunların içinde en güzelinin millete  özgüvenini kazandırmak olduğunu belirten Yılmaz, önceden inanılmayacak tank,  helikopter, milli geminin artık yapılabildiğini aktardı.
		<br><br>


		İsmet Yılmaz, fabrikanın kurulmasına katkıda bulunan <i style="color:red ">Bilkent  Üniversitesi</i>'ne, <i style="color:red ">ASELSAN</i>'a, <i style="color:red ">SSM</i>'ye ve <i style="color:red;font-family: Helvetica; ">TÜBİTAK</i>'a teşekkür etti.
		<br><br>
		<i style="color:red;font-family: Helvetica; ">

			"Başkalarının bilgisi orta gelir tuzağına düşürüyor"
		</i>
		<br><br>
		Bilkent Üniversitesi Rektörü Prof. Dr. Abdullah Atalar, başkalarının  ürettiği bilgiyle üretim yapmanın o ülkeyi orta gelir tuzağına düşürdüğünü  anlattı.
		<br>
		2004'den önce araştırma fonlarının hemen hepsinin TÜBİTAK'ın kendi  araştırma projelerine harcadığını, bu nedenle ülkenin çok geride kaldığını  belirten Atalar, bu nedenle üniversitelerin araştırma projesi yapmayı son 10  yılda öğrendiğini söyledi.
		<br>
		Atalar, TÜBİTAK bünyesinde yarı iletken teknolojiler üzerine çalışan  ve devlet araştırma merkezi olarak devam eden YITAL'ı örnek göstererek, Tayvan'da  benzer şekilde kurulan bir merkezin özelleştirilip şirkete dönüşerek dünyanın en  büyük yarı iletken şirketi haline geldiğini söyledi. Çok geç olmadan YITAL'ın da  bir şirket haline dönüştürülmesi gerektiğini vurgulayan Atalar, "Devletin  araştırma için destek verdiği kurumlara 'sizin çalışmalardan hangi spin-off'lar  çıktı' diye sormak lazım" dedi.
		<br><br>


		TÜBİTAK bilim kurulu üyesiyken bu soruyu sorduğunu ve "bizdeki  kanunlar özelleştirmeye müsait değil, yapamayız" cevabını aldığını aktaran  Atalar, bunun üzerine o zaman bu durumu Başbakan Recep Tayyip Erdoğan'a  anlattığını ifade ederek, "Aklı yattı ve dedi ki 'Kanunu hazırlayın, yapalım'.  Ama maalesef yapamadık. TÜBİTAK yapmak istemedi. Kanunlarımız, eski haliyle  duruyor" dedi.

		<br><br>
		<i style="color:red;font-family: Helvetica;">
			"Patatesin fiyatının 10 milyon katı olacak"
		</i>
		<br><br>
		Bilkent Üniversitesi <i style="color:red;font-family: Helvetica;">Nanoteknoloji Araştırma Merkezi (NANOTAM)</i> Başkanı  ve AB-MikroNano şirketinin Genel Müdürü Prof. Dr. Ekmel Özbay, Türkiye'de Ar-Ge  sonucu geliştirilen galyum nitrat temelli çiplerin ticari ürün olarak üretiminin  yapılacağı bir fabrikanın kurulduğunu bildirdi.

		<br><br>

		Türkiye'deki ilk çipi yapmadıklarını, daha önce TÜBİTAK'ta ve ODTÜ  MEMS Merkezi'nde de çiplerin yapıldığını anımsatan Özbay, ancak bunların Ar-Ge  seviyesinde kaldığını ifade etti.
		<br><br>


		ASELSAN ve NANOTAM'ın ortak yürüttüğü projelerle galyum nitrat  malzemesi üzerine ortak projeler yürüttüklerini vurgulayan Özbay, ilk çipin de bu  çalışmalar sonucu geliştirdiklerini bildirdi. Çiplerin galyum nitrat isimli yeni  bir malzemeden yapıldığına işaret eden Özbay, bu malzemenin yüksek sıcaklıkta ve  uzayda verimli şekilde çalışabildiğini anlattı. Bu yılın fizik Nobel ödülünün de  bu malzemeyi bulan Japon bilim adamlarına verildiğini belirten Özbay, "10-15  milyar dolara ulaşacak bu pazarda artık üretici olacağımızı düşünüyoruz" dedi.
		<br><br>

		Özbay, galyum nitratın savunma sanayiinde, radarda kullanıldığını,  güneş ve rüzgar enerjisinde, elektrikli araba, hızlı tren ve cep telefonu  frekanslarında da kullanılacak bir malzeme olduğuna dikkati çekerek, "Bu tesiste  yüz binlerce çip üreteceğiz. Bina bir yıl sonra tamamlanacak. 18. ayda üretim  testlerine başlayacağız ve 2 yıl sonra ilk ticari çiplerimiz teslim edilecek"  diye konuştu.

		<br><br>

		Şirketleriyle Türkiye ekonomisine katacakları değeri bir örnekle  açıklayan Özbay, şöyle devam etti:
		<br>
		"Patatesin fiyatına dün baktım 2 TL civarındaydı. Patatesi özellikle  Rusya'ya satıyoruz ve katma değeri, yüzde 200 dolayında. Arabanın kilosu 10-15  dolarda. Bunun katma değeri yüzlerce. Ama nanoteknoloji temelli 10 gramlık bir  çip yaptığınız zaman 10 bin dolar harcıyoruz ama satıldığında 100 bin dolar  ediyor. Kilosu ise 10 milyon dolar. Patatesin 10 milyon katı. Yani Türkiye olarak  biz orta gelir uçurumundan bu tür teknolojilerle çıkacağımızı düşünüyoruz."
		<br><br>
		<i style="color:red;font-family: Helvetica;">


			"Büyük şirketler belli alanlarda derinleşmeli"
		</i>

		<br><br>
		Savunma Sanayi Müsteşarı (SSM) İsmail Demir, "Ar-Ge olarak başlayan  faaliyetin, laboratuvar ürünü seviyesinden sanayileşmeye geçişi, şirket ve  üniversitenin bir araya gelmesi teknoloji şirketi oluşturması... Türkiye için  model arıyorsak, bu en temel modellerden birisi ve müsteşarlık olarak da  önümüzdeki yol haritasında en içten destekleyeceğimiz, teşvik edeceğimiz bir  süreç" dedi.
		<br><br>


		Demir, büyük şirketlerin yatay büyüme yerine belli alanlarda  derinleşmesi ve Türkiye'de teknoloji harikaları ortaya çıkarmaları gerektiğine  işaret etti.
		<br><br>


		Bütün şirketlerin, akademisyenlerin, üniversitelerin, araştırma  kurularının yol haritalarını gözden geçirmeleri çağrısından bulunan Demir, "SSM  olarak kaynaklarımızla bu tür faaliyetlerin arkasında olacağız. Çünkü, bu tür  ürünler günü geldiğinde isteseniz de alamayacağınız, temin etmekte güçlük  çekeceğiniz maddeler. İleri aşamada ortaya çıkacak başka bir malzemenin  Ar-Ge'sini üniversite yapacak ve bu tür şirketler hayata geçecek. Türkiye artık  bu trenlerde olmayı kendisine hedef seçecektir" diye konuştu.
		<br><br>
		<i style="color:red;font-family: Helvetica; ">


			"İnsanlık için büyük bir adım"
		</i>
		<br><br>

		ASELSAN Yönetim Kurulu Başkanı Hasan Canpolat, ay'a ilk ayak basan  astronot Neil Armstrong'un "Benim için küçük ama insanlık için büyük bir adım"  sözüne atıfta bulunarak, "Biz burada mütevazı bir tören yapıyoruz ama çip tarihi  için önemli bir an yaşanıyor. Bu adım burada kalmayacak önümüzdeki dönemde çok  daha güzel adımlar atılacak" ifadesini kullandı.

		<br><br>

		Canpolat, Türkiye'nin silikon trenini de yakalayacağını belirtti.  ASELSAN'ın Türkiye'nin çip endüstrisinde bütün alanlarda var olmasını sağlamayı  hedeflediğini vurgulayan Canpolat, gelecekte bütün sektörlerin temelinde çip  sektörünün bulunacağına işaret etti. Türkiye'nin mutlaka çip sektöründe var  olması gerektiğine değinen Canpolat, projede emeği geçenlere teşekkür etti.

		<br><br>

		Konuşmaların ardından katılımcılar, temeli atmak için butona bastı.


		<br><br><br><br>
		Kaynak: Vatan Gazetesi

</div>



