
@{
    ViewBag.Title = "hakkimda";
}


<div class="container">
	<div class="row">
		<img src="~/images/ben2.jpg" class="mt-5" style="width: 466px; height: 600px;">
	</div>
	<h5 class="mt-5"> KİMİM BEN?</h5><br>
	<p class="" style="width: 700px;font-family: helvetica; font-size: 18px;">
		Merhabalar, <br><br>
		Ben Nurşah KARA. 1998 yılında İstanbul'da doğdum.<br><br>
		Eğitim hayatıma Davut Akidil İlköğretim Okulu ile başladım ve Sancaktepe Anadolu Lisesi ile devam ettim.  Üniversiteyi ilk olarak Üsküdar Üniversitesi'nde kazandım ve
		orada hazırlık ve bilgisayar mühendisliğinde 1. sınıfı okudum. Daha sonra Sakarya Üniversitesi'ne yatay geçiş yaptım. Şu an Sakarya Üniversitesi Bilgisayar
		Mühendisliği son sınıf öğrencisiyim. 3. sınıfın yazında Erasmus+ staj programı ile İtalya'da 3 ay staj yaptım. <br><br>
		Bu siteyi kurmamdaki amacım; yeni şeyler öğrenirken onları bir araya toplamak ve bunları sizlerle de paylaşmak.<br><br>
		Bilgisayar Mühendisliği ile ilgili sorularınızı, önerilerinizi, tavsiyelerinizi benimle paylaşırsanız çok memnun olurum.
	</p>
	<br><br>
	<h5>İş Deneyimleri</h5>
	<br>
	<ul>
		<li><h6>SMS INFOCOMM</h6></li>Ağustos 2018-Eylül 2018 / Stajyer / İstanbul
		<li><h6>FUTURO DIGITALE</h6></li>Temmuz 2019-Eylül 2019 / Stajyer /İtalya-Cosenza
	</ul>
	<div class="row" style="height: 320px;">

	</div>

</div>



