@model List<calisartik.Models.iletisim>
@{
	ViewBag.Title = "iletisim";
}


<div class="container mt-5 ">
	<div class="row">
		<div class="col-md-6 form-group">
			<h3>İletişim Formu</h3>
			<br /><br /><br />
			<form action="/Admin/iletisimMesajlari" method="post">
				<label>İsim</label>
				<input class="form-control" type="text" name="ad" required>
				<label>Soyisim</label>
				<input class="form-control" type="text" name="soyad" required>
				<label>Email</label>
				<input class="form-control" type="text" name="eposta" required>
				<label>İletiniz</label>
				<textarea class="form-control" type="text" name="mesaj" rows="8" required></textarea>
				<br />
				<button type="submit" class="btn btn-info" name="gonder" >Gönder</button>
				<button type="reset" class="btn btn-danger" name="temizle">Temizle</button>
			</form>
		</div>
	</div>
	<div class="row" style="height:950px;">
	</div>
</div>