
@{
    ViewBag.Title = "turkleryapiyor";
}

<div class="container">
	<img src="~/images/turkleryapiyor.jpg" class="mt-5" style="width: 700px; ">
	<br><br><br><h5>Türkler Yapıyor, Dünya Konuşuyor!</h5>
	<p class="pt-5 " style="font-family: Helvetica; width: 800px;">
		YAKLAŞIK 8 yıl önce <i style="color:red;font-family: Helvetica; "> Apple’ın kurucusu Steve Jobs</i>, ilk iPhone modelini tanıttı. Bundan tam 1 yıl sonra Jobs’un cebinden çıkardığı iPhone modelini milyar dolarlık bir ekosisteme çeviren <i style="color:red;font-family: Helvetica; "> App Store</i> yer aldı. Şu ana kadar Apple’ın uygulama geliştiricilere 25 milyar dolardan fazla para kazandırdığı App Store artık bir bacasız sanayiye durumuna geldi. App Store’da olan uygulama sayısı 1.5 milyonu aştı ve kullanıcıların uygulama indirme sayısı ise 100 milyara doğru koşuyor. Başka bir deyişle App Store’dan dakikada binlerce uygulama indiriliyor. Durum böyle olunca Türkiye’deki girişimciler ve yazılımcılar Apple’ın bu milyar dolarlık sektörden pay kapabilmek için için birbiriyle yarışıyor. Bu da Apple’ın dikkatini çekiyor. Sadece 6 yıl içinde Avrupa’daki iOS ekosistemi 530 bin üzeri iş yaratırken, tüm Avrupa’da 1.4 milyon uygulama geliştirildi. Avrupa’da ödemeli uygulama geliştirici programında 300 binden fazla üye var ve uygulama ekonomisi büyümeye devam ediyor. iOS ekosistemi Avrupa ekonomisinde daha önce var olmayan yüz binlerce iş yaratarak geliştiricilerin yeni şirketler kurmasını ve App Store’dan dünya çapında 7.5 milyar dolar kazanmasını sağladı.

		<br><br>
		<i style="color:red;font-family: Helvetica; ">

			3 KAT ARTTI
		</i>
		<br><br>

		Türkiye’deki uygulama geliştirme ekosistemi rakamları da oldukça dikkat çekici. Aldığımız bilgilere göre Türkiye’deki geliştiriciler de, Apple’ın 2008 yılında yarattığı bu yeni ekosistemin rüzgârıyla hızlı bir ilerleme gösterdi. Bu yeni ekosistem Türkiye’de kendine has girişimciler yarattı. Türkiye’deki 3-7 kişilik küçük gruplardan oluşan, en iyi okullarda okumuş çok sayıda genç ve iyi eğitimli girişimci, global arenada başarı kazanıyor. Türkiye’de 2015 itibariyle Apple’ın ödemeli geliştirme programında yaklaşık 7 bin üye bulunuyor. Uygulama mağazası, 2012 yılında Türkiye’de tanıtılmasından bugüne yüzde 300 büyüdü. Türkiye’deki geliştiriciler tarafından yayınlanan uygulama sayısı son 1 yılda yüzde 50’den fazla artmış durumda.

		<br><br><i style="color:red;font-family: Helvetica; ">
			YATIRIMCI ÇEKİYORLAR
		</i>
		<br><br>


		Türkiye’deki bu uygulama geliştiricilerin ortak özelliği ise  genç, azimli, iyi eğitimli ve küresel trendlerle uyum içinde olmaları. Çoğu zaman ‘know-how’ ve geliştirici topluluğunun çok geniş olmamasından dolayı zorluklarla karşılaşırken, bazıları en başarılı uygulamayı geliştirmeye kendilerini adamak için işini bırakıyor. Oldukça rekabetçi ve dinamik bir ortamda çok sayıda zorlukla karşılaşmalarına rağmen bu genç girişimcilerin bazıları yatırım alarak milyon dolarlık şirketlerin sahibi olmayı başarıyor. Bazı başarılı projelerin Türkiye’ye çektiği yabancı ve yerli yatırımcılar arasında Earlybird, Intel Capital, Kleiner Perkins, 212 ve Aslanoba gibi fonlar yer alıyo
		<br><br>
		<i style="color:red;font-family: Helvetica; ">

			İSTİFA EDİP OYUN GELİŞTİRDİLER
		</i>
		<br><br>
		SON döneme App Store’da dünya çapında dikkat çeken oyunlara imza atan Düello Games’in iSlash, Trip Trap, Bellyfish ve Snack Truck Fever adında oyunları bulunuyor. Şirketin kurucularından Benan Arıgil, ortağıyla para biriktirip işlerinden istifa ettiklerini anlattı. Arıgil, “Yaklaşık 8 ay eve kapandık ve ilk oyunumuz olan iSlash’i yayınladık. Çıkardıktan 6 ay sonra para kazanmaya başladık. iSlash ile Japonya başta olmak üzere birçok ülkede birinci sırada yer aldık. Yaklaşık 2-3 ay sonra 30-35 milyon civarı indirme sayısına ulaştık. Durum böyle olunca Apple bizi tanıtmaya başladı” dedi. Şimdi ise Düello Games adında bir şirket kurduklarını söyleyen Arıgil şunları söyledi: “Şu anda 5 kişiyiz. Diğer oyunumuz Belly Fish, 2 milyondan fazla indirildi. Trip Trap 6-7 milyonu geçti. Şu anda Japon bir şirketle Snack Truck Fever’ı geliştirdik. Bu oyunda şu anda uygulama mağazalarında bulunuyor.”
		<i style="color:red;font-family: Helvetica; ">
			<br><br>
			OKUL BİTİNCE ŞİRKET KURDU
		</i>
		<br><br>
		ODTÜ’de yüksek lisans yaparken tanıştığı ortağıyla mezun olduktan sonra MildMania adındaki şirketi kurduklarını belirten  Emre Canbazoğlu, şu anda kadar Darklings ve Darklings Season 2 olmak üzere iki farklı oyun geliştirdiklerini anlattı. Canbazoğlu, “ODTÜ’de kuluçka merkezinde oyun geliştirmeye başladık. İlk oyunumuz olan Darklings’i 2013 yılının Kasım ayın App Store’da yayınladık. 3 milyondan fazla indirildi. Kanada ve ABD’de beğenilen oyunlar arasına girdi. Fuarlarda ödüllere aday gösterildi ve ödüller aldı. Daha sonra Apple tarafında haftanın oyunu seçildi. Geçtiğimiz şubat ayında ise Darklings Season 2’yi kullanıcılara sunduk. Bu oyunda yaklaşık 3 ay da 1 milyon kez indirildi” dedi.
		<br><br>
		<i style="color:red;font-family: Helvetica; ">
			TÜM DÜNYAYA AÇILACAK
		</i>
		<br><br>


		LİSE arkadaşı olan 4 gencin kurduğu NoPact adındaki oyun stüdyosu Reclaim adındaki oyunla dikkatleri üzerine çekiyor. Şirketin kurucularından Cem Buğra, NoPact’in hikayesini şu şekilde anlatıyor: “Her birimiz kendi alanında çalıştıktan sonra 2012 yılının başında şans eseri bir araya geldik. Oturduk planlama yaptık. İyi maaşlı işlerinden istifa ettik. NoPact şirketini kurduk. Daha sonra takımımız 4 kişiye ulaştı. Daha sonra Recliam üzerine çalışmaya başladık. Oyunu 2014’te Türkiye ve Kanada’da yayınladık. Oyunumuz şu anda Çin’de çıktı. 8 bin kez indirildi. Artık tüm dünyadaki uygulama mağazasında yer almasını planlıyoruz. Oyunseverler 5 üzerinden 5  puan vermiş durumda.”
		<br><br><br>
	</p>

</div>



