
@{
    ViewBag.Title = "yandex";
}

<div class="container">
	<img src="~/images/yandex.jpg" class="mt-5" style="width: 700px; ">
	<br><br><br><h5>Yandex artık resimleri de Türkçe'ye çeviren uygulamasını tanıttı!</h5>
	<p class="pt-5 " style="font-family: Helvetica; width: 800px;">
		Windows ve Mac üzerinden olduğu gibi, iOS, Android ve Windows Phone’a özel uygulamalarıyla da kolayca çeviri yapmaya imkan sağlayan Yandex.Çeviri servisi, artık Yandex’in geliştirdiği Optik Simge Tanıma Teknolojisi’yle donanıyor. Yandex.Çeviri servisinin mobil sürümünde ya da iOS platformunda yer alan Yandex.Çeviri uygulamasında kullanılabilen, fotoğraf ya da görsel üzerinde çeviri yapma özelliği, telefonunuzun kamerası vasıtasıyla algılanan yazının anında çevirisini karşınıza getiriyor.
		<br><br>
		Örneğin bir ilanı, bir menüyü ya da bir açıklama yazısını akıllı telefonunuzun kamerasıyla çekerek çevirinin hazırlanması için doğrudan Yandex.Çeviri’ye aktarabileceğiniz servis sayesinde, çeviri için metinlerin tekrar yazılmasına gerek kalmıyor.
		<br><br>


		Almanca, Çekçe, Fransızca, İspanyolca, İngilizce, İtalyanca, Lehçe, Portekizce, Rusça, Türkçe ve Ukraynaca olmak üzere 11 farklı dilde yazılan yeteri kadar net ve okunaklı metinleri tanıma kabiliyetine sahip olan Yandex.Çeviri, tanıdığı metinleri servisin desteklediği 46 dilden herhangi birine çevirebiliyor.<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</p>

</div>



