
@{
    ViewBag.Title = "yazilimmuh";
}


<div class="container">
	<img src="~/images/yazilim1.jpg" class="mt-5" style="width: 700px; ">
	<br><br><br><h5>Yazılım Mühendisliği Nedir?</h5>
	<p class="pt-5 " style="font-family: Helvetica; width: 800px;">
		<i style="color:red;font-family: Helvetica;">Yazılım mühendisliği</i>n de belirli programlar yoluyla gerekli işler yapılmaktadır. Bir bilgisayar örneğinden yola çıkarak bilgisayar da ki tüm elektronik düzen belli bir komutlar çerçevesin de oluşturulmuştur. İşte bu komutların işlevselliğini yazılım mühendisi gerçekleştirmektedir. Bu örnekte ki bilgisayar gibi elektronik bir düzenle piyasaya sürümü yapılmış tüm elektronik aletlerin yazılımı yazılım mühendisliği okuyan kişilerce yapılmaktadır. Yazılımların yazılım mühendisleri tarafından gerçekleştirilmesi daha çok kompleks yazılımlarının geliştirilip ilgili sisteme girilmesinde büyük bir role sahiptir.
		<br><br>
		En başta yazılım mühendisi olmak isteyenlerin sayısal zekâlarının kullanımı kişilerce daha yoğun olmalıdır. Çünkü bu bölüm de teorinin işlenip gerçeğe aktarılmasıyla dolayısıyla da bölümün gerektirdiği üzere matematikle ilgili olması dikkat çekmektedir. Bunun dışın da;  <br><i style="color:red;">ilk yarıyılda ki dersler:</i> iletişim becerileri ve akademik raporlama, diferensiyel ve intagrel hesap, ayrık matematik, fizik, programlamaya giriş (java) olmaktadır.<br> <i style="color:red;"> İlk yıl ikinci yarıyıl dersleri:</i> genel kimya, iletişim becerileri ve akademik raporlama, diferensiyel ve integral hesap, fizik ve nesneye dayalı programlama (java) olmaktadır. <br><i style="color:red;"> Üçüncü yarıyıl dersler:</i> lineer cebir, programlama dilleri, bilgisayar sistemleri, veri yapıları ve algoritmalar olmaktadır.
		<br><br />
		<img src="~/images/yazilimci.jpg" class="saga-kaydir" height="235px" width="450px">
		<br><br />
		<i style="color:red;font-family: Helvetica;">Dördüncü yarıyıl:</i> Ms C# laboratuvarı, yazılım mühendisliği analiz ve tasarımı, veri tabanı yönetim sistemleri, veri yapıları ve algoritmalar olmaktadır. Beşinci yarıyıl: olasılık ve istatistik, yazılım proje yönetimi, Türk dili ve edebiyatı, altıncı yarıyıl: nümerik analiz, yazılım mimarisi, insan bilgisayar etkileşimi, Türk dili ve edebiyatı olmaktadır. Yedinci yarıyıl dersleri ise: Atatürk ilkeleri ve inkılap tarihi, yazılım ölçme ve sınama olup son olarak da yaz stajı yer almaktadır.
	</p>

</div>




