
@{
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row col-12">

	<div class="col-3 mt-5">
		<div class="card w-100" style="background-color:#b2b2b2">
			<h6 class="card-title text-center mt-1">Makale Sayısı</h6>
			<div class="card-body" style="background-color:#c1c1c1">
				<h6 class="card-title text-center"> 50</h6>
			</div>
		</div>
	</div>
	<div class="col-3 mt-5">
		<div class="card w-100" style="background-color:#b2b2b2">
			<h6 class="card-title text-center mt-1">Kodlama Sayısı</h6>
			<div class="card-body" style="background-color:#c1c1c1">
				<h6 class="card-title text-center"> 50</h6>
			</div>
		</div>
	</div>
	<div class="col-3 mt-5">
		<div class="card w-100" style="background-color:#b2b2b2">
			<h6 class="card-title text-center mt-1">Yorum Sayısı</h6>
			<div class="card-body" style="background-color:#c1c1c1">
				<h6 class="card-title text-center"> 50</h6>
			</div>
		</div>
	</div>
</div>
<div class="row col-12">
	<div class="col-3 mt-5">
		<div class="card w-100" style="background-color:#b2b2b2">
			<h6 class="card-title text-center mt-1">İletişim Formu Sayısı</h6>
			<div class="card-body" style="background-color:#c1c1c1">
				<h6 class="card-title text-center"> 50</h6>
			</div>
		</div>
	</div>
	<div class="col-3 mt-5">
		<div class="card w-100" style="background-color:#b2b2b2">
			<h6 class="card-title text-center mt-1">	Yönetici</h6>
			<div class="card-body" style="background-color:#c1c1c1">
				<h6 class="card-title text-center"> Nurşah KARA</h6>
			</div>
		</div>
	</div>
	

	</div>